
/****** Object:  Database [LH_new]    Script Date: 27/05/2017 3:49:39 PM ******/
CREATE DATABASE [LH_new]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LH_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LH_new.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LH_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LH_new_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LH_new].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LH_new]
GO
/****** Object:  Schema [security]    Script Date: 27/05/2017 3:49:39 PM ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ad]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ad](
	[adid] [int] IDENTITY(1,1) NOT NULL,
	[catid] [int] NOT NULL,
	[lid] [int] NOT NULL,
	[title] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[phone] [nvarchar](250) NULL,
	[address] [nvarchar](3000) NULL,
	[datetime] [datetime] NULL,
	[amount] [money] NULL,
 CONSTRAINT [PK_ad] PRIMARY KEY CLUSTERED 
(
	[adid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](500) NULL,
	[master_category] [nvarchar](500) NULL,
	[category_descr] [nvarchar](max) NULL,
	[master_category_descr] [nvarchar](max) NULL,
	[editedby] [nvarchar](50) NULL,
	[editedon] [datetime] NULL,
	[master_category_icon] [nvarchar](250) NULL,
	[lid] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[imageid] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[adid] [int] NOT NULL,
	[src] [varchar](500) NULL,
	[defaulti] [bit] NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[imageid] ASC,
	[adid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city] [nvarchar](500) NULL,
	[state_province] [nvarchar](500) NULL,
	[area] [nvarchar](500) NULL,
	[description] [nvarchar](max) NULL,
	[editedby] [nvarchar](50) NULL,
	[editedon] [nvarchar](50) NULL,
	[currency_symbol] [nvarchar](10) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAd]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAd](
	[adid] [int] NOT NULL,
	[userid] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_UserAd] PRIMARY KEY CLUSTERED 
(
	[adid] ASC,
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[details] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersCustomRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersCustomRoles](
	[Users_Id] [nvarchar](128) NOT NULL,
	[CustomRoles_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UsersCustomRoles] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC,
	[CustomRoles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[AspNetRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_security.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[AspNetUserClaims]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_security.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[AspNetUserLogins]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_security.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[AspNetUserRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_security.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[CustomRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[CustomRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_security.CustomRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[CustomRoles1]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[CustomRoles1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_security.CustomRoles1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[UserCustomRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[UserCustomRoles](
	[User_Id] [nvarchar](128) NOT NULL,
	[CustomRole_Id] [int] NOT NULL,
 CONSTRAINT [PK_security.UserCustomRoles] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC,
	[CustomRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [security].[Users]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_security.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[Users1]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Users1](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[details] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_security.Users1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[Users2]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Users2](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[details] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
 CONSTRAINT [PK_security.Users2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [security].[UsersCustomRoles]    Script Date: 27/05/2017 3:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[UsersCustomRoles](
	[Users_Id] [nvarchar](128) NOT NULL,
	[CustomRoles_Id] [int] NOT NULL,
 CONSTRAINT [PK_security.UsersCustomRoles] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC,
	[CustomRoles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ad] ON 

INSERT [dbo].[ad] ([adid], [catid], [lid], [title], [description], [phone], [address], [datetime], [amount]) VALUES (10, 4, 4, N'new check', N'new check descr', N'021222', N'address not empty', CAST(0x0000A74800BB43DC AS DateTime), 1111.0000)
INSERT [dbo].[ad] ([adid], [catid], [lid], [title], [description], [phone], [address], [datetime], [amount]) VALUES (11, 1, 4, N'abc 1985', N'abc', N'92111', N'abc 1985', CAST(0x0000A74800C76A79 AS DateTime), 1985.0000)
INSERT [dbo].[ad] ([adid], [catid], [lid], [title], [description], [phone], [address], [datetime], [amount]) VALUES (12, 1, 4, N'abc 1985', N'abc', N'92111', N'abc 1985', CAST(0x0000A74800C836C4 AS DateTime), 1985.0000)
SET IDENTITY_INSERT [dbo].[ad] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [category], [master_category], [category_descr], [master_category_descr], [editedby], [editedon], [master_category_icon], [lid]) VALUES (1, N'toyota', N'autos', N'', N'Autos-Cars-New-OLD', NULL, NULL, N'../icons/auto.jpg', 4)
INSERT [dbo].[Category] ([id], [category], [master_category], [category_descr], [master_category_descr], [editedby], [editedon], [master_category_icon], [lid]) VALUES (2, N'honda', N'autos', NULL, N'Autos-Cars-New-OLD', NULL, NULL, N'../icons/auto.jpg', 4)
INSERT [dbo].[Category] ([id], [category], [master_category], [category_descr], [master_category_descr], [editedby], [editedon], [master_category_icon], [lid]) VALUES (3, N'bmw', N'autos', NULL, N'Autos-Cars-New-OLD', NULL, NULL, N'../icons/auto.jpg', 4)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[CustomRoles] ON 

INSERT [dbo].[CustomRoles] ([Id], [Name]) VALUES (1, N'auser')
INSERT [dbo].[CustomRoles] ([Id], [Name]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[CustomRoles] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([imageid], [adid], [src], [defaulti]) VALUES (CAST(18 AS Numeric(18, 0)), 10, N'../ai/aa.png', 1)
INSERT [dbo].[Images] ([imageid], [adid], [src], [defaulti]) VALUES (CAST(19 AS Numeric(18, 0)), 11, N'../ai/aa.png_909693a7-671c-47f6-a0fd-97199dd15cae', 1)
INSERT [dbo].[Images] ([imageid], [adid], [src], [defaulti]) VALUES (CAST(20 AS Numeric(18, 0)), 11, N'../ai/aa.png_d7096209-bfa8-4f59-a84d-544daf55132a', 0)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([id], [city], [state_province], [area], [description], [editedby], [editedon], [currency_symbol]) VALUES (1, N'karachi', N'sindh', N'Pakistan', NULL, NULL, NULL, N'Rs')
INSERT [dbo].[Location] ([id], [city], [state_province], [area], [description], [editedby], [editedon], [currency_symbol]) VALUES (4, N'los angeles', N'cali', N'US', NULL, NULL, NULL, N'$')
SET IDENTITY_INSERT [dbo].[Location] OFF
INSERT [dbo].[UserAd] ([adid], [userid]) VALUES (1025, N'6116bdbc-dbb7-4b13-be34-994cc4ad265c')
INSERT [dbo].[Users] ([Id], [UserName], [address], [phone], [details], [password], [PasswordHash]) VALUES (N'199', N'fawad@gmail.com', NULL, NULL, NULL, N'abc', N'YWJj')
INSERT [dbo].[Users] ([Id], [UserName], [address], [phone], [details], [password], [PasswordHash]) VALUES (N'6116bdbc-dbb7-4b13-be34-994cc4ad265c', N'jawad@gmail.com', NULL, NULL, NULL, N'abc', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [address], [phone], [details], [password], [PasswordHash]) VALUES (N'61a5f72e-a158-409f-9274-eac8d1e79b58', N'ccc', NULL, NULL, NULL, N'abc', NULL)
INSERT [dbo].[UsersCustomRoles] ([Users_Id], [CustomRoles_Id]) VALUES (N'199', 1)
INSERT [dbo].[UsersCustomRoles] ([Users_Id], [CustomRoles_Id]) VALUES (N'199', 2)
/****** Object:  Index [IX_CustomRoles_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomRoles_Id] ON [dbo].[UsersCustomRoles]
(
	[CustomRoles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Users_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [dbo].[UsersCustomRoles]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [security].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [security].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [security].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [security].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [security].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomRole_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomRole_Id] ON [security].[UserCustomRoles]
(
	[CustomRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [security].[UserCustomRoles]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [security].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomRoles_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomRoles_Id] ON [security].[UsersCustomRoles]
(
	[CustomRoles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Users_Id]    Script Date: 27/05/2017 3:49:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id] ON [security].[UsersCustomRoles]
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ad]  WITH CHECK ADD  CONSTRAINT [FK_ad_Category] FOREIGN KEY([catid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[ad] CHECK CONSTRAINT [FK_ad_Category]
GO
ALTER TABLE [dbo].[ad]  WITH CHECK ADD  CONSTRAINT [FK_ad_Location] FOREIGN KEY([lid])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[ad] CHECK CONSTRAINT [FK_ad_Location]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK__Category__lid__34C8D9D1] FOREIGN KEY([lid])
REFERENCES [dbo].[Location] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK__Category__lid__34C8D9D1]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK__Images__adid__49C3F6B7] FOREIGN KEY([adid])
REFERENCES [dbo].[ad] ([adid])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK__Images__adid__49C3F6B7]
GO
ALTER TABLE [dbo].[UserAd]  WITH CHECK ADD  CONSTRAINT [FK_UserAd_ad] FOREIGN KEY([adid])
REFERENCES [dbo].[ad] ([adid])
GO
ALTER TABLE [dbo].[UserAd] CHECK CONSTRAINT [FK_UserAd_ad]
GO
ALTER TABLE [dbo].[UserAd]  WITH CHECK ADD  CONSTRAINT [FK_UserAd_Users] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserAd] CHECK CONSTRAINT [FK_UserAd_Users]
GO
ALTER TABLE [dbo].[UsersCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersCustomRoles_dbo.CustomRoles_CustomRoles_Id] FOREIGN KEY([CustomRoles_Id])
REFERENCES [dbo].[CustomRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersCustomRoles] CHECK CONSTRAINT [FK_dbo.UsersCustomRoles_dbo.CustomRoles_CustomRoles_Id]
GO
ALTER TABLE [dbo].[UsersCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UsersCustomRoles_dbo.Users_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersCustomRoles] CHECK CONSTRAINT [FK_dbo.UsersCustomRoles_dbo.Users_Users_Id]
GO
ALTER TABLE [security].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_security.AspNetUserClaims_security.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [security].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[AspNetUserClaims] CHECK CONSTRAINT [FK_security.AspNetUserClaims_security.Users_UserId]
GO
ALTER TABLE [security].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_security.AspNetUserLogins_security.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [security].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[AspNetUserLogins] CHECK CONSTRAINT [FK_security.AspNetUserLogins_security.Users_UserId]
GO
ALTER TABLE [security].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.AspNetUserRoles_security.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [security].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[AspNetUserRoles] CHECK CONSTRAINT [FK_security.AspNetUserRoles_security.AspNetRoles_RoleId]
GO
ALTER TABLE [security].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.AspNetUserRoles_security.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [security].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[AspNetUserRoles] CHECK CONSTRAINT [FK_security.AspNetUserRoles_security.Users_UserId]
GO
ALTER TABLE [security].[UserCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.UserCustomRoles_security.CustomRoles_CustomRole_Id] FOREIGN KEY([CustomRole_Id])
REFERENCES [security].[CustomRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[UserCustomRoles] CHECK CONSTRAINT [FK_security.UserCustomRoles_security.CustomRoles_CustomRole_Id]
GO
ALTER TABLE [security].[UserCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.UserCustomRoles_security.Users1_User_Id] FOREIGN KEY([User_Id])
REFERENCES [security].[Users1] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[UserCustomRoles] CHECK CONSTRAINT [FK_security.UserCustomRoles_security.Users1_User_Id]
GO
ALTER TABLE [security].[UsersCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.UsersCustomRoles_security.CustomRoles1_CustomRoles_Id] FOREIGN KEY([CustomRoles_Id])
REFERENCES [security].[CustomRoles1] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[UsersCustomRoles] CHECK CONSTRAINT [FK_security.UsersCustomRoles_security.CustomRoles1_CustomRoles_Id]
GO
ALTER TABLE [security].[UsersCustomRoles]  WITH CHECK ADD  CONSTRAINT [FK_security.UsersCustomRoles_security.Users2_Users_Id] FOREIGN KEY([Users_Id])
REFERENCES [security].[Users2] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [security].[UsersCustomRoles] CHECK CONSTRAINT [FK_security.UsersCustomRoles_security.Users2_Users_Id]
GO
USE [master]
GO
