@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
Listhell.com<br />
    
    <abbr title="Email">E:</abbr>
    fawadsmailbox@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fawadsmailbox@gmail.com">Support@listhell.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:fawadsmailbox@gmail.com">Marketing@listhell.com</a>
</address>