<div class="col-md-10" id="autosC" style="padding:10px">
    <fieldset>
        <legend>Car details</legend>
    
        <input type="text" placeholder="Make" style="width:150px;" name="details" class="form-control" />
        <hr />

        <input type="text" placeholder="Model" style="width:150px" name="details" class="form-control" />
        <hr />
        <input type="text" placeholder="Year" style="width:150px;" name="details" class="form-control" />
        <hr />
        <input type="text" placeholder="Kilometers" style="width:150px;" name="details" class="form-control" />
        <hr />
        <input type="text" placeholder="Body Type" style="width:150px;" name="details" class="form-control" />
    </fieldset>
</div>
