@model IEnumerable<ListHell.CODE.Categories>

@{
    ViewBag.Title = "paging";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category1)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @item.category1
        </td>
      
    </tr>
}
    

</table>
<ul class="pager">
 

</ul>

<script>
    $(document).ready(function () {
        var x, y = "";
        var st = 1;
        var end = 3;
        
        var i = parseInt($.cookie("count")) / 10
        var cp = parseInt($.cookie("cp"));
        if ((cp-3)>0) {
            x == "...";
            if (cp > 1) {
                $(".pager").append("<li><a href='paging?cp=" + parseInt(cp - 1) + "'  style='cursor:pointer'> Prev </a></li>");
            }
            $(".pager").append("<li><a href='paging?cp=" + parseInt(cp - 3) + "'  style='cursor:pointer'>...</a></li>");
            st = cp;
            end=cp+3;
        }
        
        for (a = st; a <= end ; a++) {
            
            if (a == parseInt($.cookie("cp"))) {
                $(".pager").append("<li><a href='paging?cp=" + a.toString() + "'><b>" + a.toString() + "</b></a></li>")
            }
            else { $(".pager").append("<li><a href='paging?cp=" + a.toString() + "'>" + a.toString() + "</a></li>") }

        }
        if (cp + 3 < i) {
            $(".pager").append("<li><a href='paging?cp=" + parseInt(cp + 3) + "' style='cursor:pointer'>...</li>");
            if (cp + 3 < i + 1) {
                $(".pager").append("<li><a href='paging?cp=" + parseInt(cp + 1) + "' style='cursor:pointer'> Next </li>");
            }
        }
        
    })
</script>